div #ff {
    margin: auto;
    overflow: auto;
}
div #layout {
  text-align: center;
}
body{
    height:0;
    margin:0;
}
:root { --var-color-grey: #898989; }
    body { 
        margin:0; 
        position:fixed; 
        top:0; 
        right:0; 
        bottom:0; 
        left:0; 
        font-family: Helvetica; 
        }
    div #ff {
        margin: auto;
        overflow: auto;
    }
    div #title{
        width:800px; 
        text-align:center; 
    }
	text {
        font-family: Helvetica;
        font-size: 8px;
        color: var(--var-color-grey);
    }
	.axis path,
	.axis line {
		fill: none;
		stroke: var(--var-color-grey);
		shape-rendering: crispEdges;
	}
    .x.axis {font-size: 12px; }
    .y.axis {font-size: 12px; }
    